  <nav class="navbar navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#" id="brand"><h1>{{title}}</h1></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>About</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>Words</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>Contact</h2></a>
        </li>
      </ul>
    </div>
  </nav>

        <div class="card text-center bg-light">
          <div class="card-body"><span>Hello there how are you<app-words></app-words></span>
        </div>
</div>





