<div class="banner">
  <nav class="navbar navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#" id="brand"><h1>{{title}}</h1></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>About</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>Words</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>Contact</h2></a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row">
    <!--Column 1-->
    <div class="col column-one text-center"></div>
    <!--Column 2-->
    <div class="col column-two">
      <div class="card text-center">
        <!--Calls the words component-->
        <app-words></app-words>
      </div>
    </div>
    <!--Column 3-->
      <div class="col column-three text-center"></div>
    </div>
</div>
