.navbar a
{
  color:white;
  text-decoration: none;
}
.navbar{

  color:white;
  background-color: rgba(225, 173, 1, 0.3);
  margin-bottom: 0;
}

.navbar span{
  color: white;
  text-decoration: none;
}

.card{
  margin-top: 50%;
  margin-bottom: 0;
  color: white;
  opacity: 0.8;
  border: none;
  background-color: rgba(97, 79, 24, 0.4) !important;
}

.card-text{
  margin-bottom: 10pt;
}

.banner{
  background-image: url('../assets/mustardBackground.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

